.Player {
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 2.2em;
	background: url(../images/bird_yellow_1.png) no-repeat;
	transform: translateZ(0) translate(8em, 8em);
	background-size: 100% auto;
}

.Background1 {
	position: absolute;
	width: 32em;
	height: 48em;
	background: url(../images/background_day.png) no-repeat;
	background-size: 100%;
}

.Background2 {
	position: absolute;
	width: 32em;
	height: 48em;
	background: url(../images/background_day.png) no-repeat;
	background-size: 100%;
}

.Foreground1 {
	position: absolute;
	width: 32em;
	height: 12em;
	background: url(../images/foreground.png) no-repeat;
	transform: translateZ(0) translate(0em, 38em);
	background-size: 100% 100%;
}

.Splash {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 48em;
	-webkit-transform: translateZ(0) translate(0em, 0em);
	-webkit-transition: -webkit-transform 0.5s;
}

.Splash.is-visible {
	-webkit-transform: translateZ(0) translate(0em, -48em);
	-webkit-transition: -webkit-transform 0.5s;
}

.SplashText {
	position: absolute;
	width: 16em;
	height: 5em;
	top: 50%;
	left: 50%;
	margin-left: -8em;
	margin-top: -13em;
	background: url(../images/getready.png) no-repeat;
	background-size: 100%;
}

.SplashTap {
	position: absolute;
	width: 11em;
	height: 11em;
	top: 50%;
	left: 50%;
	margin-left: -5.5em;
	margin-top: -5.5em;
	background: url(../images/splash.png) no-repeat;
	background-size: 100%;
}

.Intro {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: 48em;
	-webkit-transform: translateZ(0) translate(0em, 0em);
	-webkit-transition: -webkit-transform 0.5s;
}

.Intro.is-visible {
	-webkit-transform: translateZ(0) translate(0em, -48em);
	-webkit-transition: -webkit-transform 0.5s;
}

.IntroLogo {
	position: absolute;
	width: 18em;
	height: 6em;
	top: 50%;
	left: 50%;
	margin-left: -9em;
	margin-top: -14em;
	background: url(../images/flappybirdtext.png) no-repeat;
	background-size: 100%;
}

.IntroButtons {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 5em;
	top: 5em;
	margin-top: 27em;

}

.IntroPlay {
	justify-content: center;
	align-items: center;
	width: 8.5em;
	height: 5em;
	margin-right: 2em;
	background: url(../images/play_button.png) no-repeat;
	background-size: 100%;
}

.IntroNightmare {
	justify-content: center;
	align-items: center;
	width: 8.5em;
	height: 5em;
	margin-left: 2em;
	background: url(../images/nightmare_button.png) no-repeat;
	background-size: 100%;
}

.GameOver {
	position: absolute;
	width: 100%;
	height: 100%;
	margin-top: -48em;
	box-sizing: border-box;
	-webkit-transform: translateZ(0) translate(0, 0em);
	-webkit-transition: -webkit-transform 0.5s;
}

/**
* Reset transform to animate it into the correct spot on the screen.
*/
.GameOver.is-visible {
	-webkit-transform: translateZ(0) translate(0, 48em);
	-webkit-transition: -webkit-transform 0.5s;
}

.GameOverText {
	position: absolute;
	width: 16em;
	height: 5em;
	top: 50%;
	left: 50%;
	margin-left: -8em;
	margin-top: -13em;
	background: url(../images/gameovertext.png) no-repeat;
	background-size: 100%;
}

.GameOverScorecard {
	position: absolute;
	width: 22em;
	height: 14em;
	top: 50%;
	left: 50%;
	margin-left: -11em;
	margin-top: -5em;
	background: url(../images/scoreboard.png) no-repeat;
	background-size: 100%;
}

.CurrentScore {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 100%;
	margin-top: 3em;
	margin-left: -1.5em;
}

.scoreItem {
	display: none;
	width: 2em;
	height: 2em;
	background: url(../images/numbers/0.png) no-repeat;
	background-size: auto 100%;
}

.HighScore {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: 100%;
	margin-top: 0.3em;	
	margin-left: -1.5em;
}

.GameOverButtons {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 5em;
	top: 5em;
	margin-top: 27em;
}

.GameOverPlay {
	justify-content: center;
	align-items: center;
	width: 8.5em;
	height: 5em;
	margin-right: 2em;
	background: url(../images/play_button.png) no-repeat;
	background-size: 100%;
}

.ExitToIntro {
	justify-content: center;
	align-items: center;
	width: 8.5em;
	height: 5em;
	margin-left: 2em;
	background: url(../images/exit_button.png) no-repeat;
	background-size: 100%;
}

.Foreground2 {
	position: absolute;
	width: 32em;
	height: 12em;
	background: url(../images/foreground.png) no-repeat;

	transform: translateZ(0) translate(32em, 38em);
	background-size: 100% 100%;
}

.PipeSet1 {
	position: absolute;
	width: 5em;
	height: 48em;
	top: -10em;
	transform: translateZ(0) translate(40em, 0em);
}

.PipeSet2 {
	position: absolute;
	width: 5em;
	height: 48em;
	top: -10em;
	transform: translateZ(0) translate(55em, 0em);
}

.PipeSet3 {
	position: absolute;
	width: 5em;
	height: 48em;
	top: -10em;
	transform: translateZ(0) translate(70em, 0em);
}

.PipeNorth {
	position: relative;
	width: 100%;
	height: 38.5em;
	top: -9em;
	background: url(../images/pipenorth.png) no-repeat;
	background-size: 100%;
}

.PipeSouth {
	position: relative;
	width: 100%;
	height: 38.5em;
	background: url(../images/pipesouth.png) no-repeat;
	background-size: 100%;
}

body {
	background: black;
}

.browsehappy {
	margin: 0.2em 0;
	background: #cccccc;
	color: #000;
	padding: 0.2em 0;
}

.GameCanvas {
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 32em;
	height: 48em;
	margin-left: -16em;
	margin-top: -24em;
	overflow: hidden;
	background: #70c5cf;
}

.NorthTarget {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.2em;
	height: 2em;
	background: red;
}

.SouthTarget {
	position: absolute;
	top: 0;
	left: 0;
	width: 0.2em;
	height: 2em;
	background: red;
}

.BirdTarget {
	position: absolute;
	top: 0;
	left: 0;
	width: 3em;
	height: 2.2em;
	background: red;
}

.Score {
	display: flex;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 3em;
	top: 5em;
}

.liveScoreItem {
	display: none;
	justify-content: center;
	align-items: center;
	width: 2em;
	height: 3em;
	background: url(../images/numbers/0.png) no-repeat;
	background-size: auto 100%;
}

.newLabel {
	display: flex;
	margin-top: 0.7em;
	margin-left: 13.4em;
	width: 3em;
	height: 1.2em;
	background: url() no-repeat;
	background-size: auto 100%;
}